name: gentoo-openrc-musl-cloud
run-name: gentoo-openrc-musl-cloud
on:
  schedule:
    # work through your fika you poor bastard
    - cron: "12 00 * * mon"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  gentoo-openrc-musl-cloud:
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest, ubuntu-24.04-arm]
    name: Make gentoo-openrc-musl-cloud ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up the env var set
        run: ./cloud-openrc-musl/set-env.sh ${{ matrix.runner }} >> $GITHUB_ENV
      - name: Make room for kernel build
        run: |
          sudo rm -rf \
            /opt/microsoft/powershell \
            /bin/pwsh \
            /usr/share/dotnet \
            /usr/local/lib/android \
            /opt/ghc \
            /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo df -h
      - name: Build
        run: |
          cd cloud-openrc-musl
          docker build \
            --platform linux/$GH_ARCH -t gentoo-openrc-musl-cloud:latest .
          sudo ./mkimg.sh gentoo-openrc-musl-cloud gentoo-openrc-musl-cloud-$GH_ARCH.raw $GH_GRUB_TARGET
          sha256sum -b gentoo-openrc-musl-cloud-$GH_ARCH.raw |
            tee gentoo-openrc-musl-cloud-$GH_ARCH.SHA256
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: gentoo-openrc-musl-cloud-$GH_ARCH
          path: |
            gentoo-openrc-musl-cloud-$GH_ARCH.raw
            gentoo-openrc-musl-cloud-$GH_ARCH.SHA256
          retention-days: 14
